/* 1. FONTS: IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&family=Frank+Ruhl+Libre:wght@300;400;700&display=swap');

/* 2. CSS Variables (COLORS) */
:root {
  --color-bg: #F7F2DE;
  --color-text: #0B0A08;
  --color-red: #DC4131;
  --color-red-dark: #AE2E21;
  --color-white: #FFFFFF;
  --color-green: #008F51;
  --color-light-blue: #E1EAF0;

  --font-header: 'Frank Ruhl Libre', serif;
  --font-body: 'Arimo', sans-serif;
}

/* 3. GLOBAL CHARACTERISTICS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  font-size: 16px;
  line-height: 1.6;
}

a {
  text-decoration: none;
  color: inherit;
}

/* Replaced these for specific font sizes like in figma 
h1, h2, h3, h4 {
  font-family: var(--font-header);
}
*/

/* Place here to controlled all the sizes across the website. However the 200px is too big, Is this a mistake from the Figma?
  I override the fonts on each section down. The idea of having controll over all the labes is good but I do not have the time for testing and fixing this.
*/ 
h1 {
  font-size: 200px;
  font-family: var(--font-header);
  font-weight: 300;
}

h2 {
  font-size: 36px;
  font-family: var(--font-body);
  text-transform: uppercase;
}

h3 {
  font-size: 20px;
  font-family: var(--font-body);
  text-transform: uppercase;
}

.accent-text {
  font-size: 20px;
  font-family: var(--font-header);
  font-weight: 300;
}

.large-body {
  font-size: 20px;
}

p {
  font-size: 16px;
}


/* 4. NAVIGATION */
header {
  background-color: var(--color-white);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  height: 90px;
  position: relative;
  z-index: 1001;
}

nav {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

/* Hero - title (orverwritten nede) */
nav h1 {
  font-size: 5.8rem;
  font-weight: 700;
  color: var(--color-red);
  font-family: var(--font-header);
  text-transform: uppercase;
}

/* Treider Gård title */
nav h1.logo {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--color-red);
  font-family: var(--font-header);
  text-transform: uppercase;
  z-index: 1002;
}

/* Title over the line in toggle mobile menu */
.logo.mobile-only{
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--color-white);
  font-family: var(--font-body);
  text-transform: uppercase;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 2rem;
  /*gap: 32px;*/
}

nav ul li a {
  font-family: var(--font-body);
  font-size: 18px;
  text-transform: uppercase;
  transition: color 0.2s ease;
}

nav ul li a:hover {
  color: var(--color-red);
}

/* For mobile version, does nothign in desktop - Added after style was done for destktop */
.nav-toggle {
  display: none;
  font-size: 2rem;
  background: none;
  border: none;
  cursor: pointer;

  z-index: 1002;
  color: var(--color-black);
}

/* Default, nav-links (the wrapper) is inline */
.nav-links {
  display: flex;
  align-items: center;
  gap: 2rem;
}

/* Hides mobile-only elements when desktop is active */
.mobile-only,
.mobile-divider {
  display: none;
}

/* Mobile nav */
@media (max-width: 768px) {

  /* Toggle style overwritten here in case I want to style different in the Desktop */
  .nav-toggle {
    display: block;
    position: absolute;
    right: 2rem;
    color: var(--color-black);
    z-index: 1002;
  }

  nav ul {
    display: none;
  }

  .nav-links {
    display: none;
  }

  /* Section that covers the screen in green*/
  .nav-links.active {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--color-green);
    justify-content: center;
    align-items: center;
    z-index: 1000;
    padding: 2rem;
    gap: 2rem;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .nav-links ul li a {
    color: white;
    font-size: 1.5rem;
    text-transform: uppercase;
    /* text-decoration: underline; */
  }

  .mobile-only {
    display: block;
  }

  .mobile-divider {
    display: block;
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.4);
    margin-bottom: 1rem;
  }

  .checkout-btn {
    background: #000;
    color: white;
    padding: 0.8rem 2rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-top: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  /* Hovering shadow effect */
  .checkout-btn:hover {
    opacity: 0.4;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }

}

/* 5. HERO SECTION */
.hero {
  background-image: url("../assets/landing/markus-spiske-WcLzVLbUP5g-unsplash.jpg"); 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: 80vh;
  /* border: 3px solid red; /* Temporary for visual debbugin */
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.4); /* dark overlay for readability */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  position: relative;
  max-width: 700px;
  text-align: center;
  color: white;
  padding: 2rem;
}

.hero h2 {
  font-size: 4rem;
  font-family: var(--font-header);
  font-weight: 300;
  margin-bottom: 1rem;
  /* text-transform: uppercase; /* ALL CAPS: Turned off, seemed better to me not in capital letters */ 
}

.hero p {
  font-size: 1.25rem;
  margin-bottom: 2rem;
  font-family: var(--font-body);
}

.btn {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 0.8rem 2rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;
  text-align: center;
}

.btn:hover {
  background-color: var(--color-red-dark);
}

/* 7. FOOTER */
footer {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 2rem;
  text-align: center;
  font-size: 0.9rem;
}

.footer-content {
  max-width: 1000px;
  margin: 0 auto;
}

/* 8. Product Listing Page: for later use and to give pruduct listing section its own spacing, otherwise delete if not needed - 03.06.2025 */
.product-listing {
  padding: 4rem 2rem;
  background-color: var(--color-bg);
  text-align: center;
}

.product-listing h2 {
  font-family: var(--font-header);
  font-size: 2rem;
  margin-bottom: 2rem;
}

/* 9. CONTACT PAGE */
.contact-form {
  padding: 4rem 2rem;
  max-width: 600px;
  margin: 0 auto;
}

.contact-form h2 {
  font-family: var(--font-header);
  font-size: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

label {
  font-weight: bold;
  margin-top: 1rem;
}

input, textarea {
  padding: 0.75rem;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-family: var(--font-body);
  font-size: 1rem;
}

.form-feedback {
  margin-top: 1rem;
  color: var(--color-red);
  font-weight: bold;
  text-align: center;
}

/* 10. MAP */
.map-section {
  padding: 4rem 2rem;
  background-color: var(--color-light-blue);
  text-align: center;
}

/* Partnering farm text */
.map-title h3 {
  font-family: var(--font-header);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 300; /* maybe 400 if too light? */
  text-transform: uppercase; /* ALL CAPS */
}

#map {
  height: 400px;
  width: 100%;
  max-width: 1000px;
  margin: 2rem auto;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* 11. CHATBOT */
.chatbot {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
}

.chat-toggle {
  background-color: var(--color-dark);
  color: #fff;
  border: none;
  border-radius: 50%;
  font-size: 1.5rem;
  width: 50px;
  height: 50px;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
}

.chat-window {
  width: 320px;
  max-width: 320px;
  background: white;
  border-radius: 15px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  bottom: 60px; /* appears above the button */
  right: 0;
}

/* Ensures it overrides the default display: flex, to finally hide the chat window when clicking the messageIcon-btn*/
.chat-window[hidden] {
  display: none !important;
}


.chat-messages {
  height: 300px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding-right: 0.5rem;
  font-family: var(--font-body);
  font-size: 1rem;
}

.chat-form {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 25px;
  overflow: hidden;
}

#chatInput {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-size: 1rem;
  font-family: var(--font-body);
  font-size: 1rem;
}

/* delete */ 
.chat-form input {
  flex: 1;
  border: none;
  padding: 0.8rem;
  font-size: 1rem;
}

/* delete since Send text button was replaced */
.chat-form button {
  background-color: var(--color-red);
  color: white;
  border: none;
  padding: 0 1rem;
  font-weight: bold;
  cursor: pointer;
}

.send-btn {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 0 1rem;
  cursor: pointer;
  font-size: 1.1rem;
}

.send-btn:hover {
  opacity: 0.8;
}

/* 12. Accessibility Focus Styles: To allow users that navigate with keyboard can see where they are positioned */
a:focus,
button:focus,
input:focus,
textarea:focus {
  outline: 2px solid var(--color-red);
  outline-offset: 3px;
}

/* 13. Seasonal Selection Section */
.seasonal-selection {
  padding: 4rem 2rem;
  text-align: center;
  background-color: var(--color-white);
}

.seasonal-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.seasonal-selection h3 {
  font-family: var(--font-header);
  font-size: 2rem;
  margin-bottom: 0.5rem;
  font-weight: 300; /* maybe 400 if too light? */
  text-transform: uppercase; /* ALL CAPS */
}

.seasonal-selection p {
  font-family: var(--font-body);
  font-size: 1rem;
  margin-bottom: 2rem;  
}

.seasonal-selection img {
  width: 448px;
  height: auto; /* it is too streched with 327px */
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  margin-bottom: 2rem;
}

/* Text under image added - 04.06.2025*/
.seasonal-sub {
  font-family: var(--font-body);
  font-size: 1rem;
  margin-bottom: 2rem;
  color: var(--color-text);
  max-width: 300px;
}

.seasonal-btn {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 0.8rem 2rem;
  border: none;
  border-radius: 5px;
  transition: background 0.3s ease;
  width: 320px;
  height: 45px;
  font-size: 1rem;
  font-family: var(--font-body);
  display: flex; /* from inline-block */
  justify-content: center;
  align-items: center;
}

.seasonal-btn:hover {
  background-color: var(--color-red-dark);
}

/* 15. How It Works (grid from PDF brief) */
.how-it-works {
  background-color: #F7F2DE;
  height: 785px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.how-wrapper {
  display: flex;
  flex-direction: row;
  max-width: 1200px;
  width: 100%;
  padding: 2rem;
  position: relative;
}

.how-heading {
  font-family: var(--font-header);
  font-size: 2.2rem;
  font-weight: 300;
  color: var(--color-dark);
  text-transform: capitalize;
  text-align: center;
  max-width: 200px;
}

/* Added as a separate container to make the vertical line like in the PDF */
.how-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-right: 2rem;
}

/* Adde as a separate container to make the vertical line like in the PDF */
.vertical-line {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 1px;
  background-color: rgba(0, 0, 0, 0.2);
}

.how-steps {
  flex: 2;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: flex-start;
  
}

.how-step {
  height: 197px; /* Specified in pdf brief */
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  padding-left: 90px; /* adding padding from divider like in the pdf brief */
  text-align: left;
}

/* Added as a separate container remove the bottom line of the grid, like in the PDF */
.how-step.no-border {
  border-bottom: none;
}

/* To have more flexibility with the padding specification from the pdf brief */
.step-row {
  display: flex;
  flex-direction: row;
  gap: 0;
  align-items: center;
}

.step-title {
  width: 278px;
  font-family: var(--font-header);
  font-size: 1.1rem;
  font-weight: 400;
  text-transform: uppercase;
  color: var(--color-dark);
}

.step-desc {
  font-family: var(--font-body);
  font-size: 1rem;
  color: var(--color-text);
  max-width: 400px;
}


/* 16. Products Page Layout */
.product-section {
  padding: 4rem 2rem;
  background-color: var(--color-background);
}

.section-title {
  font-family: var(--font-header);
  font-size: 2rem;
  font-weight: 300;
  text-align: center;
  margin-bottom: 45px; /* space from title to grid */
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(455px, 1fr));
  gap: 29px; /* gap between images according to figma */
  row-gap: 60px;    /* vertical spacing between image rows, according to the figma pdf */
  justify-content: center;
  max-width: 1440px; /* cap total width to avoid spreading of the images if the windows are maximazed */
  margin: 0 auto;
}

.product-card {
  text-align: left;
  position: relative;
}

.product-img-wrapper {
  position: relative;
  width: 455px;
  height: 432px;
  overflow: hidden;
  border-radius: 10px; /* apply rounding in the hovering effect too */
}

.product-img-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
  border-radius: 10px; /* smooth edges like figma */
}

.product-img-wrapper:hover img {
  transform: scale(1.03);
}

.product-title {
  margin-top: 18px; /* space from image */
  font-family: var(--font-body);
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--color-dark);
}

.product-sub {
  margin-top: 6px; /* space from title text: i.e. Oats & 1kg*/
  font-family: var(--font-body);
  font-size: 0.95rem;
  color: #444; /* slightly darker gray text */
}

.product-btn {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  /* background-color: var(--color-dark); */
  /* color: var(--color-white); */
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-family: var(--font-body);
  font-size: 0.9rem;
  border-radius: 25px;
  cursor: pointer;
  /* transition: background-color 0.2s ease; */
  transition: opacity 0.2s ease;
  opacity: 1;
}

.product-btn:hover {
  /* background-color: #333; */
  opacity: 0.6; /* subtle darkening */
}


/* FONT STYLES (Desktop default): added last minute, not enough time to think of something else */
/* TESTING FOR MOBILE VERSION USING DEVTOOLS IN CHROME - 04.06.2025 */
@media (max-width: 768px) {

  /* Mobile font OVERRIDES */

  /* Treider Gård Main logo. This is managed in the NAV section
  h1 {
    font-size: 28px !important;
  }
  */

  h2 {
    font-size: 28px !important;
  }

  h3 {
    font-size: 18px !important;
  }

  .accent-text {
    font-size: 16px !important;
  }

  .large-body {
    font-size: 18px !important;
  }
  
  p {
    font-size: 16px !important;
  }
  

}


